@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --text: #000000;
  --accent: #8f8f8f;
}

[data-theme='dark'] {
  --background: #000000;
  --text: #ededed;
  --accent: #8f8f8f;
}

body {
  background-color: var(--background);
  color: var(--text);
}
